{% extends 'base.html.twig' %}

{% block title %}App front !{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>This friendly message is coming from: </h1>

        <ul>
            {% for art in articles %}
                <li>{{ art }} <a href="{{ path('app_product', {id: art.id}) }}"><code>{{ art.price }}</code></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

